body {
  font-family: 'Roboto', sans-serif;
  color: var(--body);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

:root {
  --body: #212121;
  --body-background: #f5f5f5;
  --white: #ffffff;
  --background-hero-footer: #2f303a;
  --text: #757575;
  --logo-hover: #2196f3;
  --black: #000000;
  --team-background: #f5f4fa;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*------------------- HEADER---------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-hover);
  margin-right: 93px;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}

.main-header {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list .item {
  margin-right: 50px;
}

.header-list .item:last-child {
  margin-right: 0;
}

.header-item {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item:hover {
  color: var(--logo-hover);
}

.header-item:focus {
  color: var(--logo-hover);
}

.current {
  color: var(--logo-hover);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item + .item {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--logo-hover);
  outline: 0;
}

/*------------------- HERO---------------*/
.hero {
  background: var(--background-hero-footer);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bgd.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin: 0 auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white);
  background: var(--logo-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  margin-top: 30px;
}
.hero-btn:hover {
  background: #188ce8;
}

.hero-btn:focus {
  background: #188ce8;
  outline: 0;
}

/*------------------- Sections---------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-list .item {
  width: 270px;
}

.feature-header {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text);
  margin: 0;
}

.feature-img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
}
.feature-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.feature-img-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
}

.feature-img-icon {
  object-position: center;
}

.header-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body);
  margin-top: 0;
  margin-bottom: 50px;
}

.doing-section {
  padding-top: 0;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-list .item {
  width: 370px;
  margin-right: 30px;
}

.doing-list .item:last-child {
  margin-right: 0;
}

.team-section {
  background: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.team-card:last-child {
  margin-right: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body);
  margin-bottom: 10px;
  margin-top: 0;
}
.team-descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-cont {
  padding: 30px 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--logo-hover);
  color: var(--white);
  outline: 0;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-list-item {
  width: calc((100%-150px) / 6);
  height: 92px;
}
.client-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.client-list-icon {
  fill: currentColor;
}

.client-list-link:hover,
.client-list-link:focus {
  color: var(--logo-hover);
  outline: 0;
}

/*------------------- Footer---------------*/

.footer {
  background: var(--background-hero-footer);
  padding: 60px 0;
}

.footer-link {
  margin: 0;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-add {
  font-style: normal;
  margin-top: 20px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}
.footer-address:hover {
  color: var(--logo-hover);
}
.footer-address:focus {
  color: var(--logo-hover);
}

.footer-email {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-email:hover {
  color: var(--logo-hover);
}
.footer-email:focus {
  color: var(--logo-hover);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-tel:hover {
  color: var(--logo-hover);
}
.footer-tel:focus {
  color: var(--logo-hover);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.text-social {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 0;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-icon {
  fill: var(--white);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--logo-hover);
  outline: 0;
}

/*------------------- Portfolio---------------*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item {
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

.portfolio-element {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
  background: var(--team-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--logo-hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body);
  margin-top: 0px;
  margin-bottom: 4px;
}
.portfolio-project-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text);
  margin: 0px;
}

.portfolio-cont {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}
